body{
	background-color:#E4E4E4;
	background-image: url("squares.png"); 
}

#container{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height:480px;
}
.patternlockcontainer{
	width:260px;
	margin:auto;
	background-color:#444;
	height:260px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow:hidden;
	background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.19, rgb(30,30,30)),
    	color-stop(0.89, rgb(85,85,85)),
    	color-stop(1, rgb(100,100,100))
	);
	background-image: -moz-linear-gradient(
    	center bottom,
    	rgb(30,30,30) 19%,
    	rgb(85,85,85) 89%,
    	rgb(100,100,100) 100%
	);
	
}

.patternlockbuttoncontainer{
	position:absolute;
	width:300px;
}

.patternlocklineshorizontalcontainer{
	position:absolute;
	width:250px;
	padding:22px;
}

.patternlocklinesverticalcontainer{
	position:absolute;
	width:260px;
	padding:22px;
}

.patternlocklinesdiagonalcontainer{
	position:absolute;
	width:240px;
	padding:22px;
}


.patternlockbutton{
	background-image:url(../img/button.png);
	background-repeat:no-repeat;
	display:block;
	width:53px;
	height:53px;
	float:left;
	margin:16px;
}

.touched{
	background-image:url(../img/button_active.png);
}

.multiple{
	background-image:url(../img/button_active2.png);
}

.patternlocklinehorizontal{
	background-image:url(../img/line_hor.png);
	background-repeat:no-repeat;
	height:83px;
	width:53px;
	display:block;
	float:left;
	margin:2px -7px 0px 38px;
	visibility:hidden;
}

.patternlocklinevertical{
	background-image:url(../img/line_ver.png);
	background-repeat:no-repeat;
	height:53px;
	width:83px;
	display:block;
	float:left;
	margin:38px 0px -7px 3px;
	visibility:hidden;
}

.patternlocklinediagonalforward{
	background-image:url(../img/line_diagonal1.png);
	background-repeat:no-repeat;
	height:83px;
	width:83px;
	display:block;
	float:left;
	margin:26px -26px -24px 26px;
	visibility:hidden;
}

.patternlocklinediagonalbackwards{
	background-image:url(../img/line_diagonal2.png);
	background-repeat:no-repeat;
	height:83px;
	width:83px;
	display:block;
	float:left;
	margin:26px -26px -24px 26px;
	visibility:hidden;
}
input[type="button"]{
	background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.19, #FFF),
    	color-stop(0.89, #AAA),
    	color-stop(1, #CCC)
	);
	height: 30px;
	width: 120px;
	border-radius: 5px;
	margin-bottom: 10px;
}